@model IEnumerable<MossadAgentsMVC.Models.Mission>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Agent nickname
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent.coordinates)
            </th>
            <th>
                Target name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Target.coordinates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Agent.nickname)
            </td>
            <td>
                    <p>X: @Html.DisplayFor(modelItem => item.Agent.coordinates.X) Y:@Html.DisplayFor(modelItem => item.Agent.coordinates.Y)</p>
                    
            </td> 
            <td>
                    @Html.DisplayFor(modelItem => item.Target.name)
            </td>
            <td>
                    <p>X: @Html.DisplayFor(modelItem => item.Target.coordinates.X) Y: @Html.DisplayFor(modelItem => item.Target.coordinates.Y)</p>
                    
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                <th></th>
            <td>
                    @Html.ActionLink("SetMission", "SetMission", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

            </td>
                <th></th>
        </tr>
}
    </tbody>
</table>
<meta http-equiv="refresh" content="1" />