@model IEnumerable<MossadAgentsMVC.Models.Agent>

@{
    ViewData["Title"] = "AgentsView";
}

<h1>AgentsView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nickname)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.coordinates.X)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.coordinates.Y)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kills)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nickname)
            </td>  
            <td>
                    @Html.DisplayFor(modelItem => item.coordinates.X)
            </td>  
            <td>
                    @Html.DisplayFor(modelItem => item.coordinates.Y)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kills)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
