@model MossadAgentsMVC.ViewModeles.Deshboard

@{
    ViewData["Title"] = "Deshboard";
}

<h1>Deshboard</h1>

<div>
    <h4>Deshboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfAgents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfAgents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfActiveAgents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfActiveAgents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfDeadTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfDeadTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfMissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfActiveMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfActiveMissions)
        </dd>
        <dt class = "col-sm-2">
            Agents / Targets
        </dt>
        <dd class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.NumOfAgents) / @Html.DisplayFor(model => model.NumOfTargets)</p>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfPrroposeMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfPrroposeMissions)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

<meta http-equiv="refresh" content="1" />